<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BizNamespace" value="Display.Biz" />
    <add key="BizClassName" value="ProjectBiz" />
    <add key="DataNamespace" value="Display.DataAccess" />
    <add key="DataClassName" value="ProjectDa" />
    <add key="EntityNamespace" value="Display.Entity" />
    <add key="EntityClassExt" value="Model" />
    <add key="ConnectStringAppSettingKey" value="ConnectString" />
    <add key="ConnectString" value="server=COLINDCLI-PC;database=MapleDisplay;uid=mapleDisplay;pwd=123456;" />
    <add key="IsSetDefaultValue" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>